:root {
    --azul: #2C52B7;
    --azul-claro: #F1F5F9;
    --preto: #000000;
    --branco: #FCFDFF;
    --cinza: #94A3B8;
    --laranja: #F18F01;
    --verde: #047857;
    --verde-claro: #ECFDF5;
    --rosa: #BE123C;
    --rosa-claro: #FFF1F2;
    --azul-card: #0369A1;
    --azul-claro-card: #F0F9FF;
    --roxo: #4338CA; 
    --roxo-claro: #EEF2FF;
    --fonte-principal: 'Poppins'
}

.cabecalho {
    display: flex;
    font-family: var(--fonte-principal);
    justify-content: space-between;
    margin: 20px 200px 0;
}

.menu {
    display: flex;
    list-style: none;
    font-size: 18px;
    font-weight: 600;
}

.item__menu {
    text-decoration: none;
    color: var(--preto);
    margin-right: 50px;
}

.destaque__botao {
    margin: 24px;
}

.item__menu__destaque {
    text-decoration: none;
    background-color: var(--azul);
    color: var(--branco);
    padding: 10px 30px;
    border-radius: 24px;
    justify-content: center;
    background-image: url(../site-questionario/img/Arrow\ -\ Right.png);
    background-repeat: no-repeat;
    background-position: center right;
}

.container {
    font-family: var(--fonte-principal);
    max-width: 1200px;
    display: flex;
    margin: 0px auto;
}

.container__destaque {
    text-align: center;
}

.titulo__destaque {
    font-size: 75px;
    font-weight: 700;
    color: var(--preto);
    padding: 30px;
    margin: 66px 0 35px 0;
}

.texto__destaque {
    font-size: 22px;
    font-weight: 400;
    color: var(--preto); 
    margin-bottom: 41px;
}

.input {
    background: var(--azul-claro);
    margin: 0px auto;
    width: 455px;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    padding: 10px;
}



.col-02 {
    display: flex;
}

.email {
    background-color: var(--azul-claro);
    border: 1px solid var(--azul-claro);
    padding: 16px;
    border-radius: 40px;
    margin-right: 85px;
}
.email:focus {
    border: none;
}
.container__video {
    text-align: center;
}

.titulo__video {
    font-size: 42px;
    font-weight: 600;
    color: var(--preto);
}

.video {
    border: 15px solid #DBEAFE;
    border-radius: 70px;
}

.lista__cards {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.item__cards {
    padding: 16px 16px 28px;
}

.titulo__cards {
    text-align: center;
    font-size: 42px;
    font-weight: 600;
    color: var(--preto);
}

.nome__card {
    font-size: 18px;
    font-weight: 700;
}

.titulo {
    font-size: 20px;
    font-weight: 600;
    margin: 20px 0 14px 0;
    
}

.nome__card-um {
    color: var(--verde);
}

.nome__card-dois {
    color: var(--rosa);
}

.nome__card-tres {
    color: var(--azul-card);
}

.nome__card-quatro {
    color: var(--roxo);
}

.descricao__card {
    font-size: 18px;
    font-weight: 400;
    color: var(--preto);
    margin: 0;
}

.box {

    text-align: center;
    padding: 10px 0 10px 0;
}

.box__um {
    background-color: var(--verde-claro);
    border-radius: 16px;
}

.box__dois {
    background-color: var(--rosa-claro);
    border-radius: 16px;
}

.box__tres {
    background-color: var(--azul-claro-card);
    border-radius: 16px;
}

.box__quatro {
    background-color: var(--roxo-claro);
    border-radius: 16px;
}

.item__menu__destaque-laranja {
    background-color: var(--laranja);
}

.container__final {
    background-color: var(--azul);
    display: flex;
    border-radius: 32px;
    margin: 40px 0;
    box-shadow: 0 0 0.5em var(--preto);
}

.texto__final {
    font-size: 20px;
    font-weight: 500;
    color: var(--branco);
    margin-bottom: 50px;
}

.texto_botao {
    padding: 34px;
    margin: 110px 107px 0 0;
}

.img__final {
    margin: 87px 0px -7px 0;
    padding: 0px;
}

.footer {
    font-family: var(--fonte-principal);
}

.rodape {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid var(--cinza);
    margin-top: 30px;
}

.lista__rodape {
    list-style: none;
}

.titulo__rodape {
    font-size: 28px;
    font-weight: 700;
    color: var(--preto);
    margin-top: 60px;
}

.logo__rodape {
    margin-top: 60px;
}

.rodape__link {
    text-decoration: none;
    color: var(--cinza);
    font-size: 20px;
    font-weight: 400;
}

.rodape__link-02 {
    text-decoration: none;
    color: var(--preto);
    font-size: 20px;
    font-weight: 400;
    float: right;
}

.endereco {
    color: var(--preto);
    font-size: 20px;
    font-weight: 400;
    width: 65%;
}

.telefone {
    border: 1px solid var(--cinza);
    padding: 9px;
    border-radius: 16px;
    width: 36%;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: var(--preto);
}

.item__menu-active {
    background-color: var(--azul-claro);
    color: var(--azul);
    padding: 10px 20px;
    border-radius: 16px;
}


.cont__video {
    position: relative;
}
.play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}